config:
  wsEndpoint: "wss://kusama-rpc.polkadot.io/"
  claimThirdParty:
    targets:
    {{- range $index, $value := .Environment.Values.validatorsKusama }}
    - alias: {{ $value.name }}
      validatorAddress: {{ $value.stashAccount }}
    {{- end }}

secret:
  claimerPasswordValue: {{ env "KUSAMA_CLAIMER_PASSWORD" }}
  claimerWalletValue: |
    {{ env "KUSAMA_CLAIMER_WALLET" }} 
        
cronjob:
  schedule: "0 12,18 * * *"