image:
  repo: ironoa/polkadot-watcher
  tag: v4.5.0

config:
  endpoint: "wss://kusama-rpc.publicnode.com/"
  validators: {{ if eq (len .Environment.Values.validatorsKusama) 0 }} [] {{ end }}
  {{- range $index, $value := .Environment.Values.validatorsKusama }}
  - name: {{ $value.name }}
    address: {{ $value.stashAccount }}
  {{- end }}

# rules live on this instance since the polkadot watcher was removed (enable on ONE instance only)
prometheusRules:
  enabled: true
  origin: monitoring
  offlineRisk: true
  producerStall: false