config:
  endpoint: "wss://kusama-rpc.polkadot.io/"
  validators: {{ if eq (len .Environment.Values.validatorsKusama) 0 }} [] {{ end }}
  {{- range $index, $value := .Environment.Values.validatorsKusama }}
  - name: {{ $value.name }}
    address: {{ $value.stashAccount }}
  {{- end }}