environment: {{ .Environment.Name }}

config:
  logLevel: info
  claim:
    enabled: true
    gracePeriod:
      enabled: false
      eras: 2

cronjob:
  timeout: false
  concorruencyPolicy: Forbid
  backoffLimit: 6
  restartPolicy: OnFailure  