rbac:
  create: true

provider: cloudflare

cloudflare:
  apiKey: {{ env "CLOUDFLARE_API_KEY" | default "cloudflareApiKey" }}
  email: {{ env "CLOUDFLARE_EMAIL" | default "cloudflareEmail" }}
  proxied: false

logLevel: info
txtOwnerId: "monitoring"

policy: sync #domains fully managed by the external-dns
