environment: {{ .Environment.Name }}

serviceMonitor:
  enabled: true
  labels:
    group: polkadot
    release: prometheus-operator

prometheusRules:
  enabled: false #to be enabled for just one of the instances

resources:
  requests:
    cpu: 10m
    memory: 120Mi
  limits:
    cpu: 100m
    memory: 360Mi
