config:
  environment: {{ .Environment.Name }}
  port: 3000
  logLevel: info

serviceMonitor:
  enabled: true
  labels:
    group: polkadot
    release: prometheus-operator

prometheusRules:
  enabled: false #to be enabled for just one of the instances

resources:
  limits: {}
  requests:
    cpu: 10m
    memory: 50Mi
