image:
  repo: ironoa/polkadot-watcher
  tag: v4.5.1

config:
  environment: {{ .Environment.Name }}
  port: 3000
  logLevel: info

serviceMonitor:
  enabled: true
  labels:
    group: polkadot
    release: prometheus-operator

prometheusRules:
  enabled: false #to be enabled for just one of the instances

# requests sized on observed usage (~50m/160Mi), 2026-07
resources:
  limits: null
  requests:
    cpu: 50m
    memory: 160Mi
