botUser: {{ env "POLKADOT_VALIDATOR_MATRIXBOT_USER" | default "matrixbot_user" | quote }}
botPassword: {{ env "POLKADOT_VALIDATOR_MATRIXBOT_PASSWORD" | default "matrixbot_password" | quote }}
roomId: {{ env "POLKADOT_VALIDATOR_MATRIXBOT_ROOM_ID" | default "matrixbot_room_id" | quote }}
