environment: {{ .Environment.Name }}

config:
  endpoint: "wss://rpc.polkadot.io/"
  port: 3000
  logLevel: info
  validators: {{ if eq (len .Environment.Values.validatorsPolkadot) 0 }} [] {{ end }}
  {{- range $index, $value := .Environment.Values.validatorsPolkadot }}
  - name: {{ $value.name }}
    address: {{ $value.stashAccount }}
  {{- end }}
  subscribe:
    producers: true
    offline: true

networkId: polkadot
origin: monitoring  

resources:
  requests:
    cpu: 1m
    memory: 100Mi
  limits:
    cpu: 600m
    memory: 500Mi
